<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Prenotazioni effettuate</title>
</head>
<body>
<div align="center">
    <h1>Prenotazioni effettuate</h1>
    <a href="/new">Create New Product</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Pagamento</th>
            <th>N.Biglietti</th>
            <th>Data Spettacolo</th>
            <th>Gruppo</th>
            <th>Città</th>
            <th>Luogo evento</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prenotazione : ${listPrenotazioni}">
            <td th:text="${prenotazione.prenotazioneId}">pid</td>
            <td th:text="${prenotazione.clienteId}">cid</td>
            <td th:text="${prenotazione.bigliettoId}">bid</td>
            <td th:text="${prenotazione.quantita}">qty</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>